#block-tierras-main-menu{
  ul{
    padding: 0;
    margin: 0;
    text-align: right;
  }
  ul li{
    list-style: none;
    display: inline-block;
    padding: 0 15px;
    margin: 0 5px 0 10px;
    border-left: solid 1px #fff; 
    position: relative;
    a{
      color: #fff;
    }
    
    &.has-flyout{
      position: relative;
      .flyout-toggle{
        display: none;
      }
      ul.flyout{
        li{
          margin: 5px 0;
          width: 100%;
          text-align: left;
          a{
            padding: 10px 5px;
            display: inline-block;
          }
        }
      }
      @include transition(all 0.5s);
      @media (max-width: 63.9375em) {
        .flyout-toggle{
          display: inline-block;
          width: 35px;
          height: 35px;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 3;
          background: url(../images/arrow-mobile-menu.png) no-repeat center center;
          background-size: 100%;
        }
        &.open{
          ul.flyout{
            display: block;
          }
          .flyout-toggle{
            @include transform(rotate(180deg));
          }
        }
      }
    }
    &.has-flyout ul.flyout{
      background: #008044;
      position: absolute;
      padding: 40px 15px 20px;
      z-index: 30;
      width: 200%;
      right: -22px;
      display: none;
      @media (max-width: 63.9375em) {
        position: relative;
        width: 100%;
        right: 0;
        background: rgba(0,128,68,0.5);
        li{
          border-bottom: none;
        }
      }
    }
    
    @media (min-width: 63.9375em) {
      &.has-flyout:hover  ul.flyout{
        display: block;
      }
    }
  }
  @media (max-width: 63.9375em) {
    &.open{
      width: 100%;
      padding: 80px 30px;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(103,54,37,0.95);
      z-index: 1000;
    }
    ul{
      text-align: left;
    }
    ul li{
      display: block;
      border-left: none;
      border-bottom: solid 1px #fff;
      font-size: 25px;
      margin-bottom: 25px;
      padding: 0;
      a{
        display: block;
      }
    }   
  }
}

#block-social{
  padding-top: 50px;
  ul{
    padding: 0;
    margin: 0;
    li{
      list-style: none;
      text-align: left;
      margin-bottom: 15px;
      a.social{
        min-height: 35px;
        display: block;
        line-height: 35px;
        &:hover{
          color: #421c0a;
        }
      }
      a.social:before{
        display: inline-block;
        width: 35px;
        height: 35px;
        font-family: 'ionicons';
        line-height: 35px;
        text-align: center;
        color: #673625;
        background: #fff;
        border-radius: 50%;
        margin-right: 10px;
        font-size: 20px;
      }
      a.social.fb:before{
        content: '\f231';
      }
      a.social.tw:before{
        content: '\f243';
      }
      a.social.ins:before{
        content: '\f351';
      }
    }
  }
}
