.map-container{
  @include flexbox();
  margin: 30px auto 80px auto;
  width: 100%;
  max-width: 1480px;
  box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.2);
  .filters{
    width: 30%;
    background: #008044;
    @include transition(all 0.3s);
    form{
      padding: 60px;
    }
    label{
      color: #fff;
      font-size: 18px;
      margin-bottom: 3px;
    }
    select,
    input{
      border-radius: 15px;
      &:focus{
        outline: none;
        box-shadow: none;
      }
    }
  }
  .map{
    width: 70%;
    .leaflet-popup-content{
      margin: 13px;
      padding: 0 10px;
    }
    .views-field-title{
      margin-bottom: 10px;
    }
  }
  @media (max-width: 63.9375em) {
    display: block;
    box-shadow: none;
    .filters,
    .map{
      width: 100%
    }
    .filters form{
      padding: 20px;
    }
    .filters{
      border-bottom: solid 3px #008044;
      height: 0;
      overflow: hidden;
      @include transition(all 0.3s);
    }
    #map-filters{
      color: #fff;
      padding: 5px 50px 5px 15px;
      background: #008044;
      display: inline-block;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      position: relative;
      &:after{
        content: "\f218";
        font-family: 'ionicons';
        display: inline;
        margin-left: 10px;
        position: absolute;
        right: 15px;
        top: 5px;
      }
    }
    &.open{
      #map-filters:after{
        content: "\f209";
      }
      .filters{
        height: auto;
      }
    }
  }
}