.block-tierras-page-title{
  h1{
    margin: 30px auto 15px auto;
    width: 100%;
    max-width: 1480px;
    color: #673625;
    padding-left: 50px;
    font-weight: 500;
  }
}

.contact-message-contacto-form.block-contactblock{
  padding: 130px 0;
  background: url(../images/contact-bg.jpg) no-repeat top left;
  background-size: cover;
  @media (max-width: 40em) {
    padding: 80px 0;
  }
  .inner-wrapper{
    width: 90%;
    padding: 40px 50px;
    max-width: 1090px;
    margin: 0 auto;
    background: #f1f2f2;
    box-shadow: 4px 5px 9px 4px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    @media (max-width: 40em) {
      padding: 20px;
    }
    .block-title{
      padding-bottom: 8px;
      border-bottom: solid 3px #008044;
      color: #008044;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .form-item{
      label{
        display: none;
      }
      &.js-form-type-textfield,
      &.js-form-type-email{
        width: 48%;
        display: inline-block;
        float: left;
        margin-right: 2%;
        @media (max-width: 40em) {
          width: 100%;
          float: none;
          margin: 0 0 15px 0;
          input{
            margin-bottom: 0;
          }
        }
      }
      input,
      textarea{
        border-radius: 15px;
        &:focus{
          outline: none;
          box-shadow: none;
        }
      }
    }
    .form-actions{
      text-align: right;
      #edit-preview{
        display: none;
      }
      .button{
        box-shadow: 3px 2px 6px 1px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
